// Global Reset for SCSS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

// Base styles for HTML and Body
html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background: #fff;
  color: #000;
}

// Reset for Headings
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

// Reset for Links
a {
  text-decoration: none;
  color: inherit;
}

// Reset for Lists
ul, ol {
  list-style: none;
}

// Reset for Images
img, picture, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

// Reset for Forms
input, button, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}


// Reset for Buttons
button {
  cursor: pointer;
}

// Reset for Tables
table {
  border-collapse: collapse;
  width: 100%;
}
